<!doctype html>
<!-- views/pages/map.ejs -->

<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

    	<% include ../partials/header %>
        <% include ../partials/sidebar %>
	

        <!-- begin MAIN PAGE CONTENT -->
        <div id="page-wrapper">

            <div class="page-content">

                <!-- begin PAGE TITLE ROW -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-title">
                            <h1><%= pagetitle %>
                                <small><%= user[0].title %></small>
                            </h1>
                            <ol class="breadcrumb">
                                <li><i class="fa fa-dashboard"></i>  <a href="/"><%= user[0].title %></a>
                                </li>
                                <li class="active"><%= user[0].title %></li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <!-- end PAGE TITLE ROW -->

                <!-- begin BASIC TABLES MAIN ROW -->
                <div class="row">

                    <!-- Basic Responsive Table -->
                    <div class="col-lg-12">
                        <div class="portlet portlet-default">
                            <div class="portlet-heading">
                            
                                <div class="clearfix"></div>
                            </div>
                            <div class="portlet-body">
                                <div class="table-responsive">




                        <table class="table">
                                <tr><th>date</th><th>time</th><th>headers</th><th>Address</th><th></th></tr>

                            <% for (var i = 1; i < Object.keys(loggedAddresses).length; i++) { %>
                                <% var loggedAddressesSingle = loggedAddresses[i] %>
                                <% console.log('log: ' + i) %>                                          <!-- DEBUG CONSOLE LOGGING -->
                                <tr>
                                    <td><%= loggedAddressesSingle['date'] %></td>
                                    <td><%= loggedAddressesSingle['time'] %></td>
                                    <td><a href="http://www.telize.com/geoip/<%= loggedAddressesSingle['remoteAddress'] %>" target="_blank"><%= loggedAddressesSingle['remoteAddress'] %></a></td>

                                    <td ><%= JSON.stringify(loggedAddressesSingle['headers']) %></td>
                                   
                                    <td><form action="/delete" method=post>
                                            <input type="hidden" name="delItem" value="<%= i %>">
                                            <input type="submit" value="Del">
                                    </form></td>
                                </tr>

                            <% } %>
                        </table>
       







                                </div>
                            </div>
                        </div>
                        <!-- /.portlet -->
                    </div>
                    <!-- /.col-lg-6 -->
                </div>
                <!-- /.row -->

                
     
                <!-- end BASIC TABLES MAIN ROW -->

            </div>
            <!-- /.page-content -->

        </div>
        <!-- /#page-wrapper -->
        <!-- end MAIN PAGE CONTENT -->






    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
